services:
    _defaults:
        autowire: true
        autoconfigure: true

    wsab.service.api-endpoint-validator:
        class: Wintex\SimpleApiBundle\Service\ApiEndpointValidator

    wsab.error.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\ExceptionSubscriber
        tags:
            - { name: kernel.event_subscriber }

    wsab.request.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\RequestSubscriber
        arguments: 
            $apiValidator: '@wsab.service.api-endpoint-validator'
        tags:
            - { name: kernel.event_subscriber }


    wsab.controller.api-controller:
        class: Wintex\SimpleApiBundle\Controller\ApiController
        public: true
        autowire: false
        autoconfigure: false