services:
    _defaults:
        autoconfigure: true
        autowire: true

    Wintex\SimpleApiBundle\EventSubscriber\ExceptionSubscriber:
        tags:
            - { name: kernel.event_subscriber }

    Wintex\SimpleApiBundle\EventSubscriber\RequestSubscriber:
        arguments:
            - '@Wintex\SimpleApiBundle\Utils\ApiConfig'
        tags:
            - { name: kernel.event_subscriber }

    Wintex\SimpleApiBundle\EventSubscriber\ResponseSubscriber:
        arguments:
            - '@Wintex\SimpleApiBundle\Utils\ApiConfig'
            - '@debug.serializer'
        tags:
            - { name: kernel.event_subscriber }

    Wintex\SimpleApiBundle\Controller\ApiController:
        arguments:
            - '@Doctrine\Persistence\ManagerRegistry'

    Wintex\SimpleApiBundle\Utils\ApiConfig:
        arguments:
            - '@Symfony\Component\DependencyInjection\ParameterBag\ParameterBagInterface'

    Wintex\SimpleApiBundle\Serializer\EntityNormalizer:
        arguments:
            - '@Symfony\Component\Serializer\Normalizer\ObjectNormalizer'
        tags:
            - { name: serializer.normalizer }