services:
    _defaults:
        autowire: true
        autoconfigure: true

    Wintex\SimpleApiBundle\Service\ApiEndpointValidator: ~

    wsab.error.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\ExceptionSubscriber
        tags:
            - { name: kernel.event_subscriber }

    wsab.request.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\RequestSubscriber
        tags:
            - { name: kernel.event_subscriber }

    Wintex\SimpleApiBundle\Controller\ApiController:
        public: true
        autowire: false
        autoconfigure: false