services:
    _defaults:
        autowire: true
        autoconfigure: true

    wsab.app:
        resource: '../Service/'

    wsab.error.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\ExceptionSubscriber
        tags:
            - { name: kernel.event_subscriber }

    wsab.request.subscriber:
        class: Wintex\SimpleApiBundle\EventSubscriber\RequestSubscriber
        tags:
            - { name: kernel.event_subscriber }


    wsab.controller.api-controller:
        class: Wintex\SimpleApiBundle\Controller\ApiController
        public: true
        autowire: false
        autoconfigure: false